:root{
    --color-white: #FFF;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-purple1: #9333ff;
    --color-purple2: indigo;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background-color: var(--color-dark1);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    background-color: var(--color-dark2);
    padding: 2rem;
    border-radius: 10px;
    min-width: 30%;
    overflow: auto;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form h1{
    text-align: center;
    margin-bottom: 1rem;
}

.form .inputs{
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-dark1);
    border: 2px solid var(--color-dark1);
    color: var(--color-white);
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s;
}

.form .inputs:focus{
    border-color: var(--color-purple1);
}

.form textarea{
    resize: none;
}

.form .muni{
    outline: none;
}

.form button{
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: var(--color-purple2);
    color: var(--color-white);
    cursor: pointer;
    transition: 0.3s;
}

.form button:hover{
    background-color: var(--color-purple1);
}